.content-container {
  padding: 0 5rem;
}

.content-container input {
  padding: 10px;
  width: 300px;
  border: 1px solid gray;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.scenes-container {
  float: right;
}

.scenes-potential {
  width: 300px;
  height: 500px;
  border: 2px solid black;
  margin-bottom: 50px;
}

.scenes-picked {
  width: 300px;
  height: 200px;
  max-height: 400px;
  border: 2px solid black;
}

.picked-header {
  font-weight: bold;
  font-size: 18px;
  height: 50px;
  line-height: 50px;
}

.picked-header div {
  float: left;
}

.picked-header button {
  margin-left: 20px;
  background: #d01212;
  color: white;
  height: 30px;
  border: none;
  border-radius: 2px;
  font-weight: bold;
  font-size: 14px;
}

.picked-header button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.video-styles {
  margin: 2rem 0;
  width: 60%;
  height: 40%;
  float: left;
}
