.watch-control {
  margin: 1rem 0;
}

.watch-container {
  margin: 0 1rem;
}

.watch-elements-container {
  margin: 1rem 0;
}

.watch-elements-container select {
  min-width: 300px;
}

.watch-elements-container select:not(:first-of-type) {
  margin-left: 1.3rem;
}

.watch-container .video {
  width: 50%;
  float: left;
}

.watch-scenes {
  padding-left: 1rem;
  float: left;
  max-height: 400px;
  overflow: auto;
}

.watch-modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.watch-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 25%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.watch-series-submit {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid #4caf50;
}

.watch-series-submit:hover {
  background-color: white;
  color: black;
}

.watch-modal-margin {
  margin-top: 0.8rem;
}

.watch-container input {
  padding: 10px;
  border: 1px solid gray;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.watch-scenes {
  list-style: none;
}

.watch-scenes li {
  height: 20px;
  border-bottom: 1px solid gray;
  min-width: 300px;
  padding: 5px 10px;
}

.watch-scenes li:hover {
  cursor: pointer;
  background-color: rgb(49, 122, 198);
  color: white;
}

.watch-settings {
  float: left;
  width: 100%;
  margin-top: 1rem;
}

.watch-strip {
  list-style: none;
  padding: 0;
}

.watch-strip button {
  height: 40px;
  width: 10%;
  margin-right: 0.5rem;
  border-radius: 5px;
}

.watch-save {
  color: white;
  border-radius: 5px;
  background-color: rgb(190, 10, 10);
  height: 40px;
  width: 70px;
  outline: none;
}

.watch-save:hover {
  opacity: 0.8;
  cursor: pointer;
}

.selected {
  background-color: rgb(49, 122, 198);
  color: white;
  outline: none;
}

.watch-settings button:hover {
  cursor: pointer;
}