

.nav-container {
  height: 75px;
  width: 100%;
  margin-left:1rem 5rem 0rem;
  color: white;
}


.title {
  float: left;
  font-weight: bold;
  margin-left: 2rem;
}

.navBarHeaders{
  display:flex;
  float:right;
  height:fill;
}

.header{
  padding: 1px 5px 1px;
  top:30px;
  margin-left:15px;
  height:fill;
  border-radius: 25px;
}

a {
  text-decoration: none;
  color: white;
}

