.navBarHeaders{
  width: 2rem;
}


.nav-container {
  height: 75px;
  width: 100%;
  margin: 0;
  color: white;
}

.nav-container > div {
  line-height: 75px;
}

.nav-container > div:first-child {
  float: left;
  font-weight: bold;
  margin-left: 2rem;
}

.nav-container > div:last-child {
  float: right;
  margin-right: 2rem;
}

.nav-container > div:last-child > div {
  float: left;
  width: 100px;
  text-align: center;
}

.nav-container > div:last-child > div:hover {
  opacity: 0.75;
  cursor: pointer;
}

.nav-container a {
  text-decoration: none;
  color: white;
}
